
/* Body styles */
body{
    align-items: center;
    justify-content: center;
    margin: 15px 30px;
}

/*--------------------
 header section 
 -------------------*/
.header{
    background-color:antiquewhite
    ;
}
nav{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin: 50px ;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/*-------------------
 header banner 
 ------------------*/
.banner{
    text-align: center;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
}

.button-primary{
    padding:15px 25px ;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
    height: 54px; 
    border-radius: 5px;
    background-color: #FF900E;
}

 header img{
   margin: 40px 200px;
   width: 1100px;
   
}
/*----------------
 main section 
 ----------------*/
 .main{
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex;
 }
 .main-title{
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

   main img{
    width: 300px;
    height: 300px;
   }

 .Quick-list{
    margin-top: 200px;
   
}
.quick-list-title{
    font-size: 45px;
    font-weight: 700;
}
.span-1{
    color: rgb(130, 126, 126);
}
.span-2{
    color: #FF900E;
}
.paragraph{
    width: 400px;
}
/*-------------------
 aside section 
 ------------------*/
 
 .aside{
    margin-top: 80px;
    justify-content: space-evenly;
    display: flex;
 }
 .aside-sub-title{
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 700;
 }
 .lists{
    margin: 30px;
    padding: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    box-shadow:0 0 2px silver;
    background-color:rgb(250, 250, 248);
}
aside img{
    margin-top: 50px;
    height: 820px;
    width: 500px;
}
.button-sub-primary{
    padding:8px 25px ;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
    height: 64px; 
    border-radius: 5px;
    background-color: #FF900E;
}
.banner-descriptions{
    width: 400px;
}
aside button{
   margin-top: 300px;
   margin-left: 150px;
   margin-right: 80px;
}
.year{
    font-size: 25px;
    font-weight: 700;
}

/*.......................
 section styles 
 ------------------------*/
 .fourth-title{
    margin-top: 50px;
    text-align: center;
 }
 .fourth-sub-title{
    font-size: 45px;
    font-weight: 700;
 }
section img{
    width: 50px;
    height: 50px;
}
.section-title{
    display: flex;
    justify-content: space-evenly;
}
.Sponspors{
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    border: 1px solid #FF900E;
}
.Sponspors:hover{
    background-color:antiquewhite;
    border: 1px solid blue;
}
/*----------------------
 footer section 
 ---------------------*/
.fifth-title{
    margin-top: 100px;
    text-align: center;
}
.fifth-sub-title{
    font-size: 45px;
    font-weight: 700;
}
 .websites{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
 }
 .last{
    border-radius: 5px;
    margin:80px 60px 20px;
    background-color:#FFF4E7;
 }
 .last p{
    padding:  25px;
    text-align: center;
 }
 /*-------------------
  Media quaries 
  -------------------*/
  @media only screen and (max-width:688px) {
    nav{
        padding:20px;
        display:flex;
    }
    nav ul{
       justify-content: end;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        margin-left: 10px;
        align-items: center;
    }
    .banner-description{
        width: 400px;
    }
    header img{
        margin: 40px 0px;
        width:330px;
    }
    .main-title{
        grid-template-columns: repeat(1, 1fr);
    }
    .main, 
     .websites 
     {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .paragraph{
        width: 100%;
    }
    .aside{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .lists {
        width: 300px;
        height: 200px
    }
    .third-image img {
       
        width: 350px;
        height: 500px;
    }
     .aside-sub-title{
        text-align: center;
        width: 300px;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .banner-description{
        width: 100%;
    }
    .button-sub-primary{
        margin: 0px;
    }
    .section-title {
        grid-column-gap: 20px;
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .websites{
        text-align: center;
        grid-row-gap: 20px;
    }
  }